@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

/* navigation-bar */

/* I'd like to put the nav in the fixed position but it' s throwing off my elements. */

nav{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}

nav .navigation__tab{
    display: flex;
    font-size: 13px;
    padding: 20px; 
}

nav .navigation__tab p{
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
}

nav  .navigation__Apple-logo{
    cursor: pointer;
}

/* End navigation Bar */

/* Apple Product */

/* apple product 1 */
section{
    height: 100vh;
}

.Apple__product-1{
    background: url(/images/Apple-product/1-Piscine.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

.Apple__product-1 .Apple_product-description{
    display: flex;
    flex-direction: column;
    margin-left: 50px; 
    margin-top: 15px; 
    width: auto;
}

.Apple__product-1 .Apple_product-description h1{
    display: flex;
    margin-top: 90px;
    font-size: 80px;
    color: white;
    /* text-align: center; */
    
}
.Apple_product-description h1 img {
    display: flex;
    
}

.Apple__product-1 p{
    margin-top: 10px;
    font-size: 15px;
    /* text-align: center; */
    color: white;
}
.Apple__product-1 .Apple_product-description button{
    font-size: 13px;
    height: 2%;
    width: 35%;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: yellow;
    color:  black;
    margin-top: 10px;
}


/* End Apple product 1 */

/* apple-product 2 */

.Apple__product-2 .Apple_product-description {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
}

.Apple__product-2 .Apple_product-description h1 {
    color: white;
    margin-top: 5%;
    display: flex;
    width: 40%;
    font-size: 60px;
    border-bottom: 2px solid yellow;
    /* text-align: center; */

}

.Apple_product-description h1 img {
    display: flex;

}

.Apple__product-2 p {
    margin-top: 10px;
    font-size: 15px;
    /* text-align: center; */
    color: white;
}



.Apple__product-2 .Apple_product-description button {
    font-size: 13px;
    height: 20px;
    width: 8%;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #3F3F3F;
    color: white;
    margin-top: 10px;
}

iframe{
    margin-top: 40px;
    border-radius: 10px;
}


/* End Apple product 2 */

/* Apple product 3 */
 .Apple__product-3 .Apple_product-description {
     display: flex;
     flex-direction: column;
     margin-left: 50px;

 }

 .Apple__product-3 .Apple_product-description h1 {
     margin-top: 5%;
     display: flex;
     font-size: 40px;
     /* text-align: center; */

 }

 .Apple_product-description h1 img {
     display: flex;

 }

 .Apple__product-3 p {
     margin-top: 10px;
     font-size: 10px;
     /* text-align: center; */
     color: #404646;
 }

 .Apple__product-3 .Apple_product-description button {
     font-size: 13px;
     height: 20px;
     width: 8%;
     align-items: center;
     border-radius: 10px;
     border: none;
     cursor: pointer;
     background-color: #3F3F3F;
     color: white;
     margin-top: 10px;
 }


/* End Apple product 3 */


.Apple__product-2{
    background: url(/images/Apple-product/2-piscine.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        

}
.Apple__product-3{
    background: url(/images/Apple-product/3-Piscine.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

}

.all__apple__product .film_serie{
    background-color: #F0EFEF;
    height: 100vh;
    color: black;
    text-align: center;
}
.all__apple__product .film_serie h1{
    padding: 10%;
    font-size: 50px
 
}

.all__apple__product .film_serie img{
    width: 25%;
    border-radius: 10px;
}




/* End Apple product */


/* Apple Tv */
.Apple__Tv{
    height: 60vh;
    background-color: yellow;
    flex-direction: column;
    justify-content: center;
}

.Apple__Tv .Apple__Tv-description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
}

.Apple__Tv-description h1{
    text-align: center;
    flex-direction: column;
    font-size: 40px;
}

.Apple__Tv-description p{
    text-align: center;
    flex-direction: column;
    font-size: 15px;
    margin-top: 15px;
}

/* icon */

.icon_apple{
    display: flex;
    width: 40%;
    margin-top: 3%;
    justify-content: space-around;
    cursor: pointer;
}

.icon{
    display: flex;
    flex-direction: column;
    width: 60px;
    text-align: center; 
}

/* end Apple Tv */

/* Film_serie */

.sec-sec{
    height: 100vh;
}


.sec-sec .film{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-around;   
}

.sec-sec .film img{
   width: 19%; 
   height: 20%;
   border-radius: 10px;
}

.sec-sec h1{
    font-size: 80px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    border-bottom: 2px solid yellow;
    width: 28%;
    display: flex;
    text-align: center;
    margin-left: 38%;
}



.sec-sec .series{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.sec-sec .series img{
    width: 190vh;
    border-radius: 10px;
}


/* end Film_serie */

/* footer */
footer {
    margin-top: 30px;
    height: 20vh;
    background-color: #E3E3E3;
    padding: 40px; 
    text-align: center;   
}

footer .onglet{
    display: flex;
    justify-content: space-around;
    text-align: center;
    

}

.onglet .onglet_appstore{
    display: flex;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.onglet .onglet_appstore p{
    font-size: 15px;
    margin-top: 20px;
}





/* end footer */